$font-primary: 'Roboto', Arial, Helvetica, sans-serif;
$border-color: #C3C3C3;
$primary: #1A4F8B;
$secondary: #BF1541;
$gl-btncolor: #F14436;
$fb-btncolor: #385C8E;
$grey-text:#B0B0B0;
$ph-defaultcolor:#767676;
$white: #fff;
$lightgrey:#ebebe8;
